/*ESTILO GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    height: 100vh;
}

.flex {
    display: flex;

}

.interface {
    max-width: 1230px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(112, 15, 200,
                1) 0%, rgb(78, 18, 139) 100%);
    transition: all .5s;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-dowload button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(112, 15, 200);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, rgb(81, 11, 147) 0%, rgb(45, 11, 79) 100%);
    box-shadow: 0 0 10px rgba(106, 16, 190, 0.568);
    transform: scale(0.9);
}

h2.titulo {
    color: white;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    text-align: center;
}

h2.titulo span {
    color: rgb(112, 15, 200);
    font-size: 20px;
}

body.white {
    background: #f3f6f9;
}

.white {
    color: rgb(22, 22, 22);
}

.white p {
    color: rgb(22, 22, 22);
}

.white h1 {
    color: rgb(22, 22, 22);
}

.white h2 {
    color: rgb(22, 22, 22);
}

.white h3 {
    color: rgb(22, 22, 22);
}



/*ESTILO DO CABEÇALHO*/

header {
    padding: 20px 1%;
    background: rgb(22, 22, 22);
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


header img {
    width: 155px;
    height: 85px;
    object-fit: cover;
}

/* header .logo {
    border-radius: 50%;
    border: 3px solid rgb(112, 15, 200);
    padding: 10px;

} */

header span.title-logo {
    /* font-size: 50px; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* letter-spacing: 5px; */
    margin: 5px 0px 5px 10px;
    color: #f3f6f9;
}

header .span-logo {
    /* font-size: 35px; */
    font-size: 20px;
    color: rgb(112, 15, 200);
}

header a {
    color: rgb(156, 156, 156);
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: white;
    transform: scale(1.05);

}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 20px;
}

.menu-mobile {
    overflow: hidden;
    display: none;
}

.btn-abrir-menu i {
    color: #ffffff00;
}

/*TEMA ESCURO E CLARO*/


.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: #f3f6f9;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    width: 80px;
    height: 35px;

}

.label .ball {
    background-color: rgb(112, 15, 200);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 30px;
    width: 30px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(45px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


/*ESTILO MENU MOBILE*/

@media screen and (max-width: 940px) {

    .btn-abrir-menu i {
        color: rgb(112, 15, 200);
        font-size: 45px;
    }

    .menu-mobile {
        background-color: rgba(8, 8, 8, 0.973);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 0%;
        overflow: hidden;
        display: block;
        transition: .5s;
    }

    .menu-mobile.abrir-menu {
        width: 70%;
    }

    .menu-mobile.abrir-menu~.overlay-menu {
        display: block;
    }

    .menu-mobile .btn-fechar {
        padding: 20px 6%;
    }

    .menu-mobile .btn-fechar i {
        color: rgb(112, 15, 200);
        font-size: 35px;
    }

    .menu-mobile nav ul {
        text-align: right;
    }

    .menu-mobile nav ul li a {
        color: white;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
        margin: 10% 2%;
        display: block;
    }

    .menu-mobile nav ul li a:hover {
        background-color: rgb(112, 15, 200);
    }

    .overlay-menu {
        background-color: rgba(22, 22, 22, 0.507);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8888;
        display: none;
    }

}

/*ESTILO TOPO DO SITE*/

section .topo-do-site {
    padding: 20px 2%;
}

section .flex {
    justify-content: center;
    align-items: center;
    gap: 35%;
}

h1 {
    color: #f3f6f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}


.topo-do-site .txt-topo-site span {
    color: rgb(112, 15, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.topo-do-site .txt-topo-site h2 {
    color: gray;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10%;
}

.topo-do-site .img-topo-site img {
    animation: flutuar 2s ease-in-out infinite alternate;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s;
    opacity: 0.7;
}

.topo-do-site .img-topo-site img:hover {
    transform: scale(0.9);
    opacity: 1;
}

.txt-topo-site .curriculo {
    display: flex;
    justify-content: center;
    align-items: center;


    background: linear-gradient(90deg, rgba(112, 15, 200,
                1) 0%, rgb(78, 18, 139) 100%);
    transition: all .5s;

    width: 150px;
    height: 40px;
    border-radius: 25px;

    margin: auto 0;
}

.txt-topo-site .curriculo:hover {
    background: linear-gradient(90deg, rgb(81, 11, 147) 0%, rgb(45, 11, 79) 100%);
    box-shadow: 0 0 10px rgba(106, 16, 190, 0.568);
    transform: scale(0.9);

}

.txt-topo-site .curriculo a {
    color: #f3f6f9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px
    }
}


/*ESTILO DO SOBRE*/

section .sobre {
    padding: 20px 2%;
}

section .sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;
    margin-left: -30%;
    margin-right: 10%;
    color: #f3f6f9;
}


.sobre .txt-sobre h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.sobre .txt-sobre span {
    color: rgb(112, 15, 200);
    display: block;
}

.sobre .txt-sobre p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-top: 10px;

}

.sobre .img-sobre img {
    width: auto;
    height: auto;
    animation: flutuando 2s ease-in-out infinite alternate;
    position: relative;
}

@keyframes flutuando {
    0% {
        top: 0;
    }

    100% {
        top: 40px;
    }
}

/* TÍTULO */
h2.titulo span {
    color: rgb(112, 15, 200);
    font-size: 37px;
}

/* SECTION */
section.habilidades {
    padding: 60px 5%;
    /* background-color: #1e1e2f; */
    /* Cor de fundo moderna */
}

.grid-habilidades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 40px;
    justify-items: center;
    margin-top: 50px;
}

/* BOX DE HABILIDADES */
.habilidades-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(145deg, #2b2b3d, #1c1c2b); */
    /* border: 2px solid rgb(112, 15, 200); */
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    transition: all 0.3s ease;
    cursor: pointer;
    /* box-shadow: 0 0 15px rgba(112, 15, 200, 0.1); */
}

.habilidades-box:hover {
    transform: translateY(-5px) scale(1.05);
    /* box-shadow: 0 0 30px rgba(112, 15, 200, 0.4); */
}

.habilidades-box img {
    width: 50px;
    height: auto;
    margin-bottom: 15px;
}

.habilidades-box h3 {
    font-size: 16px;
    color: #f5f5f5;
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .grid-habilidades {
        gap: 30px;
    }

    .habilidades-box {
        padding: 15px;
    }
}


/*ESTILO DO PORTIFÓLIO*/

section .portifolio {
    padding: 20px 2%;

}

.portifolio .flex {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    margin-top: 60px;
}


.img-port {
    width: 100%;
    max-width: 450px;
    height: 230px;
    margin: 20px auto;

    border-radius: 6px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
/* 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.img-port:hover {
    transform: scale(1.03);
    /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25); */
}


.img-port .overlay h3 {
    position: absolute;
    color: #f3f6f9bd;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.img-port .overlay button {
    position: relative;
    width: auto;
    padding: 8px;
    background: linear-gradient(90deg, rgb(81, 11, 147) 0%, rgb(75, 28, 121) 100%);
    border: none;
    border-radius: 6px;
    margin: 10px;

    top: 25%;

}

.img-port .overlay button a {
    color: #f3f6f9;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}

.img-port .overlay button:hover {
    background: linear-gradient(90deg, rgb(81, 11, 147) 0%, rgb(75, 28, 121) 100%);
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000aa;
    border-radius: 6px 0px 6px 0px;
    color: white;
    transition: .5s;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}


/*ESTILO FORMULARIO*/

section .formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 150px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    cursor: pointer;
    width: 120px;
    background-color: rgb(112, 15, 200);
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: .2s;
}

form .btn-enviar input[type=submit]:hover {
    box-shadow: 0 0 18px 0 rgb(112, 15, 200);
    transform: scale(1.05);
}

/*CONTATOS*/

#contacts {
    height: 70vh;
    padding: 40px 4%;

}

.js-global {
    opacity: 0;
    transition: .5s;
    transform: translateX(-10rem);
}

.js-global.active {
    transform: translateX(0);
    opacity: 1;
}


.contacts {
    flex-direction: column;
    align-items: center;
}



.contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #f3f6f9;
}

.contacts .container span {
    font-size: 34px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(112, 15, 200);
}

.contacts .container .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container .icons .icon {
    margin: 10px 30px;
    font-size: 12px;
    transition: all .3s;
}

.container .icons .icon:hover {
    background: transparent;
    transform: scale(1.3);

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(45, 45, 45);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 20px 50px;

}

.white .box {
    background: #d4d5d6;
}

.container .icons .icon .box img {
    width: 35px;
    height: 35px;
}

a {
    color: #f3f6f9;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

p {
    color: #f3f6f9;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}

::-webkit-scrollbar {
    background: rgb(22, 22, 22);
}

.white::-webkit-scrollbar {
    background: #f3f6f9;
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 15, 200);
}


@media screen and (max-width: 1300px) {

    /*CLASSES GERAIS*/

    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 40px;
        line-height: 40px;
    }

    /*CABEÇALHO*/

    .menu-desktop,
    .btn-contato {
        display: none;
    }


    /*TOPO DO SITE*/

    section .flex {
        gap: 40px;
    }

    .topo-do-site {
        padding: 20px 4%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    h1 {
        font-size: 25px;
        text-align: left;
    }

    .topo-do-site .txt-topo-site h2 {
        font-size: 25px;
        text-align: left;
    }

    /*HABILIDADES*/

    .habilidades {
        padding: 40px 4%;
    }

    .habilidades .habilidades-box {
        width: 250px;
        height: 180px;
        margin-top: 5px;
    }

    .habilidades .habilidades-box img {
        width: 75px;
        height: auto;
        margin: 0 auto;
    }

    /*SOBRE*/

    .txt-sobre {
        padding: 40px 0% 40px 40%;
    }

    .txt-sobre h2 {
        font-size: 20px;
        text-align: center;
    }

    .txt-sobre span {
        font-size: 40px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
        margin-top: 20px;
    }

    /*POORTIFOLIO*/

    .portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    .portifolio .flex {
        gap: 60px;
    }

    /* FORMULARIO*/

    form {
        width: 95%;
    }

    /*CONTATO*/

    .js-section {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .contacts .container .icons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 40px 0;
    }

    h2 {
        font-size: 35px;
    }

}